<div class="game">
  <div class="tooltip">
    <h1>FizzBuzz Game!</h1>
    <span class="tooltip-text">
      <b><u>Rules:</u></b><br>
      <b>Fizz</b> - divided by <b>3</b><br>
      <b>Buzz</b> - divided by <b>5</b><br>
      <b>FizBuzz</b> - divided by <b>3</b> and <b>5</b>
    </span>
  </div>
  <div class="buttons">
    <button class="bt-1">Fizz</button>
    <button class="bt-2">FizzBuzz</button>
    <button class="bt-3">Buzz</button>
  </div>
  <div class="fizzBuzz">
    <h1>{{gameArray}}</h1>
  </div>
  <div *ngIf="!gameArray">
    <button class="bt-start" (click)="onStartClick()">Start</button>
  </div>
</div>
