<div class="game">
  <h3>Score: {{score}}</h3>
  <div class="tooltip">
    <h1>FizzBuzz Game!</h1>
    <span class="tooltip-text">
      <b><u>Rules:</u></b><br>
      <b>Fizz</b> - divided by <b>3</b><br>
      <b>Buzz</b> - divided by <b>5</b><br>
      <b>FizBuzz</b> - divided by <b>3</b> and <b>5</b>
    </span>
  </div>
  <div class="buttons">
    <button id="bt-1" (click)="onButtonClick.next('Fizz')">Fizz</button>
    <button id="bt-2" (click)="onButtonClick.next('FizzBuzz')">FizzBuzz</button>
    <button id="bt-3" (click)="onButtonClick.next('Buzz')">Buzz</button>
  </div>
  <div class="fizzBuzz">
    <h1>{{game}}</h1>
  </div>
  <div *ngIf="!game">
    <button id="bt-start" (click)="onStartClick()">Start</button>
  </div>
</div>
