<div class="game">
  <h3>Score: {{score}}</h3>
  <div class="tooltip">
    <h1>FizzBuzz Game!</h1>
    <span class="tooltip-text">
      <b><u>Rules:</u></b><br>
      <b>Fizz</b> - divided by <b>3</b><br>
      <b>Buzz</b> - divided by <b>5</b><br>
      <b>FizBuzz</b> - divided by <b>3</b> and <b>5</b>
    </span>
  </div>
  <div class="buttons">
    <button id="numberBtn" (click)="onButtonClick.next('Number')">Number</button>
    <button id="fizzBtn" (click)="onButtonClick.next('Fizz')">Fizz</button>
    <button id="buzzBtn" (click)="onButtonClick.next('Buzz')">Buzz</button>
    <button id="fizzBuzzBtn" (click)="onButtonClick.next('FizzBuzz')">FizzBuzz</button>
  </div>
  <div class="fizzBuzz">
    <h1>{{numbers}}</h1>
<!--    <div class="answer" *ngIf="numbers">-->
<!--      <h3>You: {{clickVal}} </h3>-->
<!--      <h3>Game: {{game}} </h3>-->
<!--    </div>-->
  </div>
  <div *ngIf="!game">
    <button id="bt-start" (click)="onStartClick.next(true)">Start</button>
  </div>
</div>
