.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1%;

  //Tooltip
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    .tooltip-text {
      visibility: hidden;
      width: 330px;
      background-color: #e3e3e3;
      color: #404040;
      line-height: 1.6em;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;

      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
    }
    h1 {
      font-size: 3em;
      margin: 2% 0 0 0;
    }
  }


  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 9%;
  }

  button {
    cursor: pointer;
    width: 250px;
    height: 100px;
    margin: 0 2%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: 0;
    outline: none;
    box-shadow: 12px 21px 17px -2px rgba(209, 209, 209, 0.56);
  }

  button:active{
    background-color: darkgrey;
  }

  .bt-1 {
    background-color: #be5683;
  }

  .bt-2 {
    background-color: #0f4c75;
    color: whitesmoke;
  }

  .bt-3 {
    background-color: #ffa931;
  }
  .fizzBuzz {
    margin-top:5%;
    h1 {
      font-size: 6em;
    }
  }
  .bt-start {
    width: 420px;
    background-color: #d4d4d4;
    margin:0;
  }
}
